:root {
    --pastel-green: #7D4374;
    --pastel-blue: #7D4374;
    --pastel-orange: #7D4374;
    --pastel-yellow: #7D4374;
    --pastel-purple: #7D4374;
    --border-radius: 15px;
    --border-radius-sm: 10px;
    --primary-color: #303166;
    --orange-cerv: #f2980d;
}

.text-primary {
    color: var(--primary-color) !important;
}

.text-warning {
    color: var(--orange-cerv) !important;
}

.invalid-feedback {
    color: #dc3545;
    display: block;
}

.lunch-slider .irs-bar {
    background-color: #dc3545;
}

input,
textarea,
select,
.choices__inner,
.choices__list .choices__list--dropdown {
    border: 1px solid lightgray !important;
    border-radius: var(--border-radius-sm) !important;
}

.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
    border-radius: var(--border-radius-sm) !important;
    border: 1px solid lightgray !important;
}

.modal-content {
    border-radius: var(--border-radius) !important;
}

input:focus {
    border: none !important;
}

form-control:focus {
    box-shadow: none !important;
}

.lunch-slider .irs-bar,
.lunch-slider .irs-from,
.lunch-slider .irs-to,
.lunch-slider .irs--flat .irs-single,
.lunch-slider .irs-handle.to.type_last i,
.lunch-slider .irs-handle.from i {
    background-color: var(--orange-cerv) !important;
}

.work-slider .irs-bar,
.work-slider .irs-from,
.work-slider .irs-to,
.work-slider .irs--flat .irs-single,
.work-slider .irs-handle.to.type_last i,
.work-slider .irs-handle.from i {
    background-color: var(--primary-color) !important;
}

.dt-button {
    border-radius: var(--border-radius) !important;
}

.btn {
    border-radius: var(--border-radius) !important;
}

.dt-button {
    border: none !important;
    color: white !important;
}

.dt-button:nth-child(1) {
    background-color: var(--pastel-green) !important;
}

.dt-button:nth-child(2) {
    background-color: var(--pastel-blue) !important;
}

.dt-button:nth-child(3) {
    background-color: var(--pastel-orange) !important;
}

.dt-button:nth-child(4) {
    background-color: var(--pastel-yellow) !important;
}

.dt-button:nth-child(5) {
    background-color: var(--pastel-purple) !important;
}

.btn-primary {
    background-color: var(--primary-color) !important;
    color: white !important;
}

.btn.day-button {
    background: none;
    border: 2px solid var(--pastel-blue) !important;
}

.btn.day-button:hover span {
    color: white !important;
}

.btn-outline-primary.btn-primary span {
    color: white !important;
}

.sidebar {
    background-color: var(--primary-color) !important;
}

table.dataTable {
    background-color: white !important;
    border-radius: var(--border-radius-sm) !important;
}

#example_filter {
    margin-bottom: 1rem !important;
}

.btn-info {
    background-color: var(--orange-cerv) !important;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    text-align: center !important;
}

.fas::before {
    width: 24px !important;
    height: 24px !important;
}

.day-button {
    width: 40px !important;
    height: 40px !important;
    padding: 0;
    line-height: 40px !important;
    text-align: center;
    border-radius: 50% !important;
}

.day-button:hover {
    background-color: var(--primary-color) !important;
    color: white !important;
}